DirectoryIndex salesforce_consulting_partner index.php
DirectoryIndex admin login_form.php


ErrorDocument 404 /salesforce_consulting_partner/404.html
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]



