DirectoryIndex salesforce_consulting_partner index.php

DirectoryIndex admin login_form.php

ErrorDocument 404 /salesforce_consulting_partner/404.html

ErrorDocument 500 /salesforce_consulting_partner/500.html

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/atom_xml
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/font
    AddOutputFilterByType DEFLATE application/font-woff
    AddOutputFilterByType DEFLATE application/font-woff2
    AddOutputFilterByType DEFLATE application/font-sfnt
    AddOutputFilterByType DEFLATE application/font-otf
    AddOutputFilterByType DEFLATE application/font-ttf
    AddOutputFilterByType DEFLATE application/font-eot
    AddOutputFilterByType DEFLATE application/font-opentype
</IfModule>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.example\.com$ [NC]
RewriteRule ^(.*)$ https://example.com/$1 [R=301,L]

<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType text/css .css
  </IfModule>

  <IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 24 hours"
    ExpiresByType image/jpeg "access plus 24 hours"
    ExpiresByType image/gif "access plus 24 hours"
    ExpiresByType image/png "access plus 24 hours"
    ExpiresByType text/css "access plus 24 hours"
    ExpiresByType application/javascript "access plus 24 hours"
    ExpiresByType application/x-javascript "access plus 24 hours"
    ExpiresByType text/javascript "access plus 24 hours"
    ExpiresByType text/html "access plus 2 hours"
    ExpiresByType image/x-icon "access plus 24 hours"
  </IfModule>
  



